
  #contact-section {
    height: auto;
    padding: 20px;
}

.main-contact {
    flex-direction: column;
    width: 100%;
    height: auto;
}

.contact-form {
    width: 90%;
    padding: 10px;
    gap: 20px;
}

.contact-form h1 {
    font-size: 1.5rem;
}

.contact-form p {
    font-size: 0.875rem;
}

.contact-form input,
.contact-form textarea {
    padding: 8px;
    font-size: 0.875rem;
}

.contact-form button {
    padding: 12px;
    font-size: 1rem;
}

.name-flex {
    flex-direction: column;
    gap: 8px;
}

/* Adjust text in the left card */
.left-card p {
    font-size: 0.75rem;
    text-align: center;
    padding: 0 10px;
}
