
*{
    margin:0;
    padding:0;
}
body{
    background-image: linear-gradient(rgb(0, 0, 0),black,black,#7B3200,black)
}

.bg-About h1{
    position:absolute;
    top:110px;
    left:40px;
    font-size:70px ;
    font-family:'Poppins', sans-serif;
    background-image: linear-gradient(-225deg,
            #ffffff 0%,
            #92908f 70%,
            #444444 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1s ease infinite;
}

.bg-About p{
    position:absolute;
    top:200px;
    left:20px;
    font-weight:900;
    margin:20px;
    font-size:24px;
    color:#ffffff;
    font-family: 'Inter', sans-serif;

}
.stat{
    display: flex;
    color:white;
    margin:100px;
    justify-content:space-around;
    text-align: center;
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    
}
.profiles{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-left:200px;
}
.profile{
  padding:30px;
  width:18rem;
  height:15rem;
  background-color: #ffffff;
  text-align: center;
  border-radius: 30px;
}
.profiles img{
    width:150px;
    height:150px;
    border-radius: 90px;
  }
  .profiles h2{
    font-size: 15px;
    font-family:'Poppins', sans-serif;
  }
  .profiles h3{
    font-family:'Poppins', sans-serif;
    background-image: linear-gradient(-225deg,
            #383737 0%,
            #ff6a00 50%,
            #da5700bf 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1s ease infinite;
  }

  .links{
    width:10rem;
    height:2.5rem;
    background-image: linear-gradient(to right,#EF7D2F,#AAA19A);
    margin:7px;
    margin-left:65px;
    border-radius: 15px;
  }
  
  .links a{
  font-size:26px;
  margin:7px;
  text-decoration-line: none;
  }