@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .dropDown-menu-caty, .dropDown-menu-right {
        z-index: 10; /* Higher than the slider */
    }
    html {
        @apply text-base text-white;
        font-family: "Poppins", serif;
        scroll-behavior: smooth;
    }
    body{
        @apply bg-[#0A0D17];
    }
    i{
        @apply cursor-pointer text-white hover:text-orange-400;
    }
    .nav-menu>ul a{
        @apply    hover:border-b-2 hover:text-orange-700;
    }
    .footer-links>ul a{
        @apply    hover:border-b-2 hover:text-orange-700;
    }
    .dropDown-menu-right a{
        @apply py-2 px-7 text-sm border-t border-white/30 w-full hover:text-orange-500;
    }
}
@media (max-width: 768px) {
    .up-footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-icons {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 700px) {
    .nav-menu ul {
        position: absolute;
        left: 0;
        z-index: 1000;
        top: 77px;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.737);
        height: fit-content;
        padding: 1.5rem;
        transition: all 0.3s linear;
    }
    
    .dropdown-menu {
        display: none;
        flex-direction: column;
        gap: 1rem;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 1rem;
        border-radius: 5px;
        margin-top: 0.5rem;
        transition: all 0.3s linear;
    }
    
    .dropdown-menu a {
        color: white;
    }
    
    .dropdown-menu.hidden {
        display: none;
    }
}

@media (min-width: 701px) {
    /* Show normal layout on larger screens */
    .nav-menu ul {
        flex-direction: row;
    }

    .burger_menu {
        display: none;
    }
}
