*{
    margin:0;
    padding:0;
}
body{
    background-color: #000000;
}
#movieDetails{
    display:grid;
    grid-template-columns: auto auto;
    gap:5px;
}
#movieImage img{
    margin-top:25px;
    margin-left:25px;
    height:31rem;
    width: 24rem;
   }
.div2{
    margin-top:20px;
    display:grid;
    grid-template-rows: auto auto;
} 
#movieInfo{
    height:265px;
    width:50rem;
}
#movieInfo h1{
    font-family:'Poppins', sans-serif;
}
#movieInfo h4{
    font-family:'Poppins', sans-serif;
}
#movieInfo p{
    color:rgb(255, 255, 255);
}
#movieAchat{
    width: 24rem;
    margin-top:10px;
    margin-left:30px;
    display:flex;
    justify-content: space-around;
}

video{
    margin-top: 10px;
    height:260px;
    width: 800px;
    object-fit: cover;
}