

/* style.css */

/* Corps de la page */
body {
   
    background-color: #000000;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .film-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .film-thumbnail {
    width: 150px;
    height: 225px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .film-thumbnail:hover {
    transform: scale(1.05);
  }
  
  /* Détails du film */
  .film-details {
    display: flex;
    flex-direction: column;
    width:100%;
    margin: 0 auto;
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Section principale des informations */
  .film-info-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  /* Image du film */
  .film-image {
    width: 350px;
    height:500px;
    margin-left: 10px;
    border-radius: 8px;
  }
  
  /* Conteneur pour les informations et la vidéo */
  .film-info {
    flex: 1;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  
  .film-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #f97102;
    font-family:'Poppins', sans-serif;
  }
  
  .film-info p {
    margin:5px 10px;
  }
  
  /* Style pour la vidéo */
  .film-video {
    width:500px;
    height:300px;
    margin-top: 20px;
    border-radius: 8px;
    object-fit: cover;
  }
 /* %%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.sliders div{
    z-index: -1;
}
.sliders div img{
    object-fit: cover;
}
.films{
    display: flex;
    justify-content: space-around;
    text-align:center;
    margin: 20px;
}
.films h1{
    font-size:19px;
    font-family:'Poppins', sans-serif;
}
.titles{
    margin:30px 80px;
    display: flex;
    justify-content:space-between;
}
.titles h1{
   font-size: 30px;
   font-family:'Poppins', sans-serif;
}
.titles a{
    font-size:23px;
    font-family:'Poppins', sans-serif;
 }