
*{
    margin:0;
    padding:0;
}
body{
    background-image: linear-gradient(rgb(0, 0, 0),black,black,#7B3200,black)
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  STYLE DU 1ER SECTION  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.bg-About{
  background-image: url(./image/aboutAnime.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 37rem;
}
.bg-About h1{
    position:absolute;
    top:200px;
    left:40px;
    padding:20px;
    font-size:80px ;
    font-family:'Poppins', sans-serif;
    background: linear-gradient(90deg, #ffffff 0%,#847c76 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.bg-About p{
    position:absolute;
    top:300px;
    left:40px;
    font-weight:900;
    margin:20px;
    font-size:24px;
    color:#ffffff;
    font-family: 'Inter', sans-serif;

}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  STYLE DU 2EME SECTION  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.stat{
    display: flex;
    color:white;
    margin:100px;
    justify-content:space-around;
    text-align: center;
    font-size: 20px;
    font-family:'Poppins', sans-serif;
}
.stat h2{
  font-size: 25px;
}
.stat h3{
  font-size: 25px;
}
.profiles{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
}
.profile{
  padding:20px;
  width:18rem;
  height:17rem;
  background-color: #ffffff;
  text-align: center;
  border-radius: 30px;
  margin-bottom:40px;
}
.profiles img{
    width:150px;
    height:150px;
    border-radius: 90px;
    margin-left:45px;
  }
  .profiles h2{
    font-size: 16px;
    font-family:'Poppins', sans-serif;
    color: black;
  }
  .profiles h3{
    font-family:'Poppins', sans-serif;
    background-image: linear-gradient(-225deg,
            #383737 0%,
            #ff6a00 50%,
            #da5700bf 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1s ease infinite;
  }

  .links{
    width:10rem;
    height:2.5rem;
    background-image: linear-gradient(to right,#EF7D2F,#AAA19A);
    margin:7px;
    margin-left:45px;
    border-radius: 15px;
  }
  
  .links a{
  font-size:26px;
  margin:7px;
  text-decoration-line: none;
  }

  .footerLinks a{
    text-decoration-line: none;
  }
 .footerElement1{
  display:flex;
  justify-content: end;
 }
  .footer_Links{
    display: flex;
    color:white;
    justify-content:center;
  }
  
  @media(max-width:900px) {
    .bg-About h1{
      font-size:4rem ;
  }
  .bg-About p{
    font-size:18px;
}
.stat h3{
  font-size:20px;
}

}
@media(max-width:700px) {
.bg-About p{
  font-size:17px;
}
.stat{
  margin:100px 10px;
}
.profile{
  width:15rem;
  height:14rem;
}
.profiles img{
  width:100px;
  height:100px;
  margin-left:50px;
}
.links{
  margin-left:25px;
}
.stat h3{
  font-size:17px;
}
}
@media(max-width:500px) {
  .bg-About p{
    font-size:14px;
  }
  .bg-About h1{
    font-size:45px;
  }
  .profiles img{
    width:80px;
    height:80px;
    margin-left:40px;
  }
  .profile{
    width:12rem;
    height:13rem;
  }
  .profile h2{
  font-size:14px;
  }
  .links{
    margin-left:0px;
  }
  .links a{
    font-size:25px;
  }
  .stat{
    margin:50px 10px;
  }
  .stat h2{
    font-size: 20px;
  }
  .stat h3{
    font-size: 14px;
  }
}

@media(max-width:399px) {
  .profiles{
    grid-template-columns: repeat(1,1fr);
}
.bg-About h1{
  margin:5px;
}
.bg-About p{
  margin:5px;
}
}
